.py-2 {
    background-image: url(/ressources/bannière.jpg);
}

body {
    background-image: url(/ressources/fond_memory.jpg);
    color: white;
}
h1 {
    text-align: center;
}

#barreNav {
    list-style-type: none;
    padding-left: 1vw;
    background-color: rgb(0, 0, 107);
}

.liNav {
    display: inline;
}

label {
    font-weight: bold;
}


.liNav a {
    display: inline;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0px 10px 0px 5px;
    border-right: 1px solid grey;
}

.liNav a:hover {
    background-color: green;
}

.sectionFormulaire {
    padding: 1%;
    display: flex;
    justify-content: center;
    border: solid white 3px;
    border-radius: 10%;
    margin: 5% 20% 5% 20%;
}

#sectionIndex {
    display: flex;
    justify-content: center;
    margin: 5vw 15vw 5vw 15vw;
    border: solid white 3px;
    border-radius: 10%
}

#imgMem {
    display: flex;
    justify-content: center;
    margin: 0vw 0vw 1vw 7vw;
    width: 30vw;
}

.fieldsetConnexion {
    margin: 5% 20% 5% 20%;
}

h2 {
    text-align: center;
    font-weight: bold;
}

/* Image profil ? */
.question {
    width: 5vw;
    margin-left: 46%;
    padding : 1%;
    border: solid white;
    border-radius: 50%;
    
}

#sectionConnexion {
    margin: 5% 20% 5% 20%;
    border: solid white 3px;
    border-radius: 10%
}

#profil {
    margin: 5% 20% 5% 20%;
    border: solid white 3px;
    border-radius: 10%
}

.jouerNbCoup {
    display: block;
    text-align: center;
}

#imgENI {
    width: 3vw;
}

#imgError {
    display: none;
    width : 20px;
    height: 20px;
}

#imgError1 {
    display: none;
    width : 20px;
    height: 20px;
}

#imgError2 {
    display: none;
    width : 20px;
    height: 20px;
}

#imgError3 {
    display: none;
    width : 20px;
    height: 20px;
}

#tableauScore {
    margin: 3vw 3vw 3vw 25vw;
    border: thick double white;
    text-align: center;
}

#tHead {
    border: thick double white;
}

#tableauJeu {
    display: flex;
    justify-content: center;
    margin: 3vw;
    border-collapse: separate;
}

img {
    width : 7vw;
    cursor: pointer;
}

th {
    padding: 1vw 1vw 1vw 1vw;
}

td {
    padding: 1vw 1vw 1vw 1vw;
}

.flip {
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
    transform: rotateY(180deg);
    width: 7vw;
}

td:hover {
    -webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.imgLegume {
    width: 20vw;
}

#victoire {
    font-weight: bold;
    font-size: 7vw;
    text-shadow: 1vw 2vw black;
    display: none;
}