header, main {
    font-family: "Bruno Ace SC", sans-serif;
}

.py-2 {
    background-image: url(/ressources/bannière.jpg);
}

body {
    background-image: url(/ressources/background.webp);
    color: white;
}
h1 {
    text-align: center;
}

.reglesJeu {
    margin: 3vw;
}


label {
    text-decoration: underline;
}

.nom {
    background-color: transparent;
    color:white;
    border:none;
}

.email {
    background-color: transparent;
    color:white;
    border:none;
}

.password {
    background-color: transparent;
    color:white;
    border:none;
}

.formmdp {
    background-color: transparent;
    color:white;
    border:none;
}



#barreNav {
    list-style-type: none;
    padding-left: 1vw;
    background-color: rgb(0, 0, 107);
}

.liNav {
    display: inline;
}

label {
    font-weight: bold;
}

.liNav a {
    display: inline;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0px 10px 0px 5px;
    border-right: 1px solid grey;
}

.liNav a:hover {
    background-color: green;
}

.sectionFormulaire {
    margin: 5vw 20vw 5vw 20vw;
    border: solid white 3px;
    border-radius: 10%;
    padding: 3vw;

}

.btn-success {
    margin-left: 11vw;;
}

.btn1 {
    background-color: green;
    border:none;
    margin-left: 5vw;
    color: white;
}

.btn2 {
    background-color: brown;
    border:none;
    margin-left: 5vw;
}

#sectionIndex {
    display: flex;
    justify-content: center;
    margin: 5vw 15vw 5vw 15vw;
    border: solid white 3px;
    border-radius: 10%
}

#imageMemory {
    display: flex;
    justify-content: center;
    margin: 0vw 2vw 0vw 2vw;
    width: 30vw;
}

#imageTaille {
    margin-bottom: 1vw;
    width: 30vw;
    border-radius: 10%;
}

.fieldsetConnexion {
    margin: 5% 20% 5% 20%;
}

h2 {
    text-align: center;
    font-weight: bold;
}

.question {
    width: 5vw;
    margin-left: 46%;
    padding : 1%;
    border: solid white;
    border-radius: 50%;
    
}

#sectionConnexion {
    margin: 5% 20% 5% 20%;
    border: solid white 3px;
    border-radius: 10%
}

#profil {
    margin: 5vw 20vw 5vw 20vw;
    border: solid white 3px;
    border-radius: 10%
}

.jouerNbCoup {
    display: block;
    text-align: center;
}

.selected {
    border-radius: 1vw;
}


#imgENI {
    width: 2vw;
    height: 2vw;
}

#imgError {
    display: none;
    width : 20px;
    height: 20px;
}

#imgError1 {
    display: none;
    width : 20px;
    height: 20px;
}

#imgError2 {
    display: none;
    width : 20px;
    height: 20px;
}

#imgError3 {
    display: none;
    width : 20px;
    height: 20px;
}

#tableauScore {
    text-align: center;
    border: solid white;
    margin-left: auto;
    margin-right: auto;
}

th {
    border: solid white;
}

.ligne {
    border: solid white;
}

#tableauJeu {
    display: flex;
    justify-content: center;
    border-collapse: separate;
    margin: 0vw 30vw 3vw 30vw;
    border: solid white;

}

#imgMem {
    cursor: pointer;
    margin-left: 12vw;
    margin-bottom: 1vw;
    width: 30vw;
}

img {
    width: 7vw;
}

th {
    padding: 1vw 1vw 1vw 1vw;
}

td {
    padding: 1vw 1vw 1vw 1vw;
}

.flip {
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
    transform: rotateY(180deg);
    width: 7vw;
}


td:hover {
    -webkit-transform: scale(1.2);
	transform: scale(1.2);
    cursor: pointer;
}

#faible, #moyen, #fort {
    display: inline-block;
    width: 30%;
    margin-top: 1vw;
    text-align: center;
}


